
 body {
    background-color: #696969;
    color: #DCDCDC;
    font-family: "Times New Roman";
    font-size: 17px;
 }  
 .avatar {  
    position: relative;
     left: 230px;
    }
.io {
    position: absolute;
    top:-25px;
    left:550px;
  }
h1 {
        font-size:38px;
      }

footer {
    display:flex;
    justify-content:space-between;
    align-items: center;
    background-color: #464451;
}
