*{                      
    border: 0;
    margin: 0;
    max-width: 1440px;
    border:1px rgba(red, green, blue, alpha) dotted;
    box-sizing: border-box;
    
}
.privatstyle{ 
    border: 1px red solid;
    border: 1px rgba rgb(9, 0, 32) solid;
    color:aqua;
}
/*Правило для всей странички*/
.line{
    width: 50px;
    height: 1px;
    flex-shrink: 0;
    background: #0C0C0E;
    margin-left: auto; margin-right: auto; 
    margin-top: 20px; margin-bottom: 40px;
}
h2{
    color: #0C0C0E;
    font-family: Forum;
    font-size: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    text-align: center;
    padding-top: 20px; margin-bottom: 20px;
    margin-left: auto; margin-right: auto; 

}
p{
    color: #000;
    font-size: 30px;
    font-family: Inter;
}
/*HEAD*/
.header{
    background: #0C0C0E;
    color:#FFFFFF;
    width: auto;
    height: 90px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;  
}
.header h1{ 
    margin-top: 20px;
    margin-left: 20px; 

}
.header ul{
    display: inline-flex;
    width: 584px; height: 50px;
    margin-top: 20px;  margin-left: 254px; 
    
    font-size: 25px;
    line-height: 50px;
    white-space:nowrap;
    text-align: center;
    font-family: Inter;
    justify-content: space-between;

}
.header li:hover{            /*Эффект ховера по тз*/
    border-bottom: 3px solid #571d1d;
}
.icon-profile{
    width: 28px;
    height: 28px;
    margin-top: 31px;
    margin-left: 40px; 
    margin-right: 10px;
}
/*End head*/
/*Погнало тело*/
main{
    background: #FFF;
    width: 100%;
    width: 1440px;
    margin:0;
}
main .welkome{ 
    background-image: url('./assets/img/welcome.png');
    background-color: #c7b39b;
    background-size: no-repeat;
    height: 600px;
    width: 1440px;    
}
main .about{
    width: 1440px;    
    width: 100%;
    height: 837px;
}
main .about__pagination{ 
    margin: 40px 686px;
}
main .favorites{ 
    height: auto;  width: 1440px;
    margin:0;
}
main .favorites__bttn label, input{
     font-size: 30px;
     margin-right:10px ;
     margin-left: 50px;
     display:inline-flex;
     justify-content: space-between;
}
main .favorites__item{
    
    height: 1150px; width: 1440px;
    flex-shrink: 0;
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    align-content: space-between;
    flex-wrap: wrap;
    text-align: left;
    gap: 20px;
}

main .bookone{border: 1px solid #000;
   width: 550px;
   height: 555px;
   margin-left: 10px;
   display:block;
   
}
main .bookone img{
    display: block;
    position:absolute;
    left: 395px ; top: 1948px;
}
main .bttnone{
    display: block;
    position:absolute;
    left:50px ; top: 2195px;
}
main .twobook{border: 1px solid #000;
    width: 550px; height: 555px;
    margin-left: 10px;
    flex-shrink: 0;
}
main .twobook img{
    display: block;
    position:absolute;
    left: 395px ; top: 2523px;
}
main .bttntwo{
    display: block;
    position:absolute;
    left:50px ; top: 2810px;
}
main .threebook{border: 1px solid #000;
    width: 550px; height: 555px;
    margin-right: 10px;
}
main .threebook img{

    display: block;
    position:absolute;
    left: 1235px ; top: 1948px;

}
main .bttnthree{
    display: block;
    position:absolute;
    left:910px ; top: 2195px;


}
main .fourhbook{border: 1px solid #000;
    width: 550px; height: 555px;
}
main .fourhbook img{
    display: block;
    position:absolute;
    left: 1235px; top: 2523px;

}
main .bttnfour {
    display: block;
    position:absolute;
    left:910px ; top: 2770px;
}
/*Общие favorit*/
main .favorites__item h3{
    font-family: Inter;
    text-align: left;
    font-size: 29px;
    line-height: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-left: 30px;
}
main .favorites__item h4{
    font-family: Inter;
    text-align: left;
    font-size: 25px;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    padding-left: 30px;
}
main .favorites__item span{
    display:block;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 2px;
    padding-left: 30px;padding-top: 20px; padding-bottom: 10px;
}
main .favorites__item p{
    display:inline-block;
    width: 355px; height: auto; max-height: 320px;
    font-size: 25px;
    padding: 10px 10px 0px 30px;
    text-transform: capitalize;
}
main .favorites__item button{
    width: 75px;  height: 30px;
    flex-shrink: 0;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    letter-spacing: 1px;
    border: 1px solid #0C0C0E;
    border-radius: 2px;
    padding: 1px 1px 1px 1px;
}
/*coffe shop*/
.descript { 
padding:40px 0 40px 0; 
margin: 0 20px 0 20px;
text-align: left;
}
.coffedeserts {
    display: flex;
    justify-content: space-between;
    margin: 0 20px 0 20px;
    color: #BB945F;
    font-size: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}
.menu{
    display: flex;
    width: 100%;
    font-family: Inter;
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: capitalize;
}
.coffe{
   width: 50%; 
}
.deserts{
    width: 50%; 
}
.coffe span{
    display: inline-flex;
    width: 100%; height: 50px;
    gap:60px;
    padding-top:10px;
    font-size: 25px;
    line-height: 50px;
    white-space:nowrap;
    text-align: center;
    font-family: Inter;
    justify-content: space-around;
    margin-top: 20px; margin-bottom: 20px;
}
.deserts span{
    display: inline-flex;
    width: 100%; height: 50px;
    gap:60px;
    padding-top:10px;
    font-size: 25px;
    line-height: 50px;
    white-space:nowrap;
    font-family: Inter;
    justify-content:flex-end ;
    margin-top: 20px; margin-bottom: 20px;
    align-items: flex-end;
}
.coffe p{
    display: block;
    width: 196px;
}
.deserts p{
    display: flex;
    
    align-items: flex-end;
    text-align: end;
}
.line2{
    width: 100px;
    height: 1px;
    background: #BB945F;
    margin-top: 20px; margin-bottom: 20px;
    gap:60px;
    
}
/*КОНТАТЫ*/
.OurContacts {
   margin:20px 20px 40px 20px;
}
.contactmap{
    display:flex;
    padding:20px 10px 40px 0;
}
.Contacts{
    width: 50%; height: 414px;
    text-transform: capitalize; letter-spacing: 2px;
    font-family: Inter;
}
.Contacts p{
    margin-bottom: 20px;
   } 
.map{
    width: 50%;
}
/*END CONTACTS*/
/*Digital Library Cards*/
.digital{
    width: 50%;
    display:flex;
    height: 614px;
    width: 1440px;
}
/*левая сорона*/
.digitalleft{
    width: 50%;
    justify-content: center; 
    text-align: start;
}
.digitalleft h3{
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
}
.digitalborder {
    border: 3px solid #BB945F;
    width: 600px;
    height: 386px;
    flex-shrink: 0;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;  
    box-sizing: border-box;
}
.digitalbackgroung{
    background: #BB945F;
    width: 560px;
    height: 272px;
    flex-shrink: 0;
    margin: 20px 20px 0 20px;
    display: flex;
    align-items: center;
 
}
.digitalbackgroung p{
    font-family: Forum;
    line-height: 50px;
    letter-spacing: 0.6px;
    padding: 20px 246px 202px 20px;
    font-size: 30px;
    white-space:nowrap;
}
.digitalbackgroung input{ /*Колхоз, но как получилос, если кто подкинет идей как правильно, будет кул*/
    width: 520px;
    height: 66px;
    flex-shrink: 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 30px; margin-bottom: -20px;
    margin-left: -555px;    
}
.digitalborder button{
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    color: #0C0C0E;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 1px;
    width: 300px; height: 44px;
    margin-left: 150px; 
    margin-bottom: 20px;  
}
/*Правая сорона*/
.get{
    width: 50%;
    text-align: right;
    font-size: 20px;
    height: 614px;
}
.get h4{
    margin-top: 10px;
    font-size: 30px;
    letter-spacing: 0.6px;
    font-family: Forum;
    margin-bottom:35px ;
}
.get p{
    font-family: Inter;
    width: 456px;
    letter-spacing: 0.4px;
    line-height: 40px;
    text-align: right;
    float: right;
}
.get button{
    width: 80px; height: 40px;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    border-radius: 2px;
    letter-spacing: 1px;
}
.bttnsign{
   position: relative;
   left: 530px;
   top: 170px;
}
.bttnlog{
    position: relative;
   left: 350px;
   top: 170px;
}
/*Конец мэйна*/
/*Идем в подвал*/
.footer p{ /*Отчего-то нужно писать отдельным(мол, в хедере работал колор для всей секции, а здесь нет*/
    color: #FFF;    
}
.footer{
    background: #0C0C0E;
    height: 250px;
    display:flex;
    flex-direction: column;
}
.footertop{
    display: flex;
    width: 100%;
}
.topleft{
    width: 50%;
}
.topleft p{
    font-size: 20px;
    width: 229px;
    margin-left: 20px;
    margin-top: 20px;
}
.topleft ul{
    display: inline-flex;
    gap:15px;
    margin-top: 18px; margin-left: -20px;;
}
.topright{ 
    width: 50%;
}
.topright p{
    margin-right: 20px;
    font-size: 20px;
    font-family: Inter;
    width: 456px;
    letter-spacing: 0.4px;
    line-height: 40px;
    text-align: right;
    float: right;
}
.line3{
    width: 1400px;
    height: 1px;
    background: #FFF;
    margin-top: 20px;
    flex-shrink: 0;  
}
.bottom{
    height: 110px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 44px 20px;  
}
/*Happy end, наверное..*/




    


  





 


    
/*library/assets/img/welcome.png*/